<div class="web">
    <div class="row">

        <!-- Banner -->
        <section id="banner" class="video_bg parallex-bg">


            <div class="container-fluid">
                <div class="intro_wrap div_zindex white-text">
                    <div class="intro_text text-center">
                        <h1>Know your customer mind</h1>
                        <h3>A real time data analytics platform to know your customer </h3>
                        <a href="javascript:void(0);" class="btn btn-lg signinclicked">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="dark-overlay"></div>
        </section>
        <!-- /Banner -->





        <!-- Features -->
        <section id="features" class="section-padding">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="features-box">
                            <h5>One Profile</h5>
                            <p>Get better picture of customer interactions across data sources.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-box">
                            <h5>See Customer Journey</h5>
                            <p>See your customer journey and uncover hidden insights.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-box">
                            <h5>Customer Segments</h5>
                            <p>Discover and analyze new customer segments.</p>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="features-box">
                            <h5>Metrics matter</h5>
                            <p>Define metrics that matters most to your business.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="features-box">
                            <h5>Contribution and Attribution</h5>
                            <p>Understand what is happening and why it is happening.</p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="features-box">
                            <h5>Beyond standard</h5>
                            <p>Analytics is personal to the business.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /Features -->







        <!-- Footer -->
        <footer id="footer" class="secondary-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-2">
                        <ul class="footer_links">
                            <li>
                                <a href="javascript:void(0);">
                                    <p>14th Main
                                        <br>Sector 4, <br/>HSR Layout.
                                        <br>Bangalore, India
                                    </p>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-sm-3">

                    </div>
                    <div class="col-md-3 col-sm-3">

                    </div>
                    <div class="col-md-4 col-sm-4">
                        <ul class="footer_links">
                            <li><a href="javascript:void(0);"><i class="fa fa-invelope" aria-hidden="true"></i>connectbetter@ruca.tech</a></li>

                            <li><a href="javascript:void(0);"><i class="fa fa-skype" aria-hidden="true"></i>connectbetter@ruca.tech</a></li>

                            <li><a href="javascript:void(0);"><i class="fa fa-phone" aria-hidden="true"></i>+1 646-568-5338</a></li>

                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        <!-- /Footer -->


        <!--Back-to-top-->
        <div id="back-top" class="back-top">
            <a href="#top"><i class="fa fa-angle-up" aria-hidden="true"></i> </a>
        </div>
    </div>
    <!--/Back-to-top-->






</div>