<div class="row">
  <div class="col-md-8">
    <ngx-ecommerce-charts></ngx-ecommerce-charts>
  </div>
  <div class="col-md-4">
      <logged-in-user-card></logged-in-user-card>
      <active-user-card></active-user-card>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <user-statics></user-statics>
  </div>
  <div class="col-md-4">
    <paid-card></paid-card>
    <free-user-card></free-user-card>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <ngx-country-orders></ngx-country-orders>
  </div>
  <div class="col-md-6">
    <top10-user-card></top10-user-card>
  </div>
</div>
